body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}

.flex{
   
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width:20%;
        padding: 2%;
        margin: 40px 0;
        background-color: rebeccapurple;
        border: solid black 2px;
        border-radius: 10px;
        font-size: 20px;
   

}

a{
    font-size: 20px;
    background-color: rebeccapurple;
    color: whitesmoke;
}