<%- include('../partials/head');%>


<body>
    <%- include('../partials/nav');%>
    <%data.forEach(items=>{%>
    <div class="flex">
        <p><%=items.Date%></p>
        <p><%=items.Cases%></p>
    </div>

    <%})%>

</body>

</html>