<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/nav');%>
    <%data.forEach(item=>{%>
    <div class="flex">
        <p><%=data.Date%></p>
        <p><%=data.Cases%></p>
    </div>

    <%})%>

</body>

</html>